"*":
  "Remote-FTP":
    autoUploadOnSave: "only when connected"
  "advanced-open-file": {}
  "atom-gdb": {}
  "autocomplete-modules":
    babelPluginModuleResolver: true
  core:
    disabledPackages: [
      "path-hyperclick"
      "stylefmt"
      "go-debug"
      "minimap-highlight-selected"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "coverage"
    ]
    telemetryConsent: "no"
    warnOnLargeFileLimit: 1
  docblockr:
    align_tags: "no"
    extend_double_slash: false
    param_description: false
    return_description: false
    simple_mode: true
  editor:
    fontFamily: "Hasklig-Light"
    fontSize: 16
    tabLength: 4
  "exception-reporting":
    userId: "5c8145d0-f8d3-afde-89d8-7b32c168ac94"
  "file-icons":
    coloured: false
    onChanges: true
  "file-types":
    "^Dockerfile.*": "source.dockerfile"
  "go-config": {}
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    currentPanelHeight: "25.846354166666668vh"
  gofmt:
    formatTool: "gofmt"
  "language-babel":
    autoIndentJSX: false
  "language-elm":
    elmOraclePath: "/Users/deniskoltsov/.config/fnm/bin/elm-oracle"
  "language-elm-make":
    elmOraclePath: "/Users/deniskoltsov/.config/fnm/bin/elm-make"
  linter:
    errorPanelHeight: 166
    lintOnFly: false
  "linter-eslint": {}
  "linter-golinter": {}
  "linter-stylelint":
    disableWhenNoConfig: true
  "livestyle-atom":
    analyzer:
      notify: false
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "project-manager":
    environmentSpecificProjects: true
  stylefmt:
    formatOnSave: true
  sunset:
    has_been_configured: true
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".apib.gfm.html.markdown.source.text":
  editor:
    preferredLineLength: 100
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".babel.regexp.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".clojure.source":
  editor:
    preferredLineLength: 100
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".css.less.source":
  editor:
    preferredLineLength: 100
".css.source.styled":
  editor:
    tabLength: 4
".editorconfig.source":
  editor:
    tabLength: 4
".elm.source":
  editor:
    tabLength: 4
".gfm.html.markdown.mson.source.text":
  editor:
    preferredLineLength: 100
".gitignore.source":
  editor:
    preferredLineLength: 120
".graphql.source":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".hackfragment.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".hg-commit.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 120
".js.jsx.react.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source.subtlegradient":
  editor:
    preferredLineLength: 120
    tabLength: 4
".json.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".json5.source":
  editor:
    preferredLineLength: 100
".languagebabel.ttlextension":
  editor:
    tabLength: 4
".plist.source":
  editor:
    preferredLineLength: 120
".plist.text.xml":
  editor:
    preferredLineLength: 120
".shell-session.text":
  editor:
    preferredLineLength: 100
".shell.source":
  editor:
    preferredLineLength: 100
".source.yaml":
  editor:
    tabLength: 2
