'atom-workspace atom-text-editor:not([mini])':
  'ctrl-up': 'editor:move-line-up'
  'ctrl-down': 'editor:move-line-down'

'body':
  'ctrl-w': 'editor:delete-to-beginning-of-word'

  'ctrl-c ctrl-d': 'find-and-replace:select-next'

  'ctrl-r': 'core:move-left'

  'ctrl-shift-F': 'core:select-right'
  'ctrl-shift-R': 'core:select-left'
